NEXT_PUBLIC_SUPABASE_URL=https://ufhimjhydizbpfahkrvy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmaGltamh5ZGl6YnBmYWhrcnZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNjU4MTMsImV4cCI6MjA4OTk0MTgxM30.4YBRj_la84dBKGKpkHlhZ8UT-sqW9dbCenUZwJ5pxbQ
-6S+SU*%anU@#,x
